[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-debug-toolbar"]
	path = vendor-local/src/django-debug-toolbar
	url = git://github.com/django-debug-toolbar/django-debug-toolbar.git
