[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-debug-toolbar"]
	path = vendor-local/src/django-debug-toolbar
	url = git://github.com/django-debug-toolbar/django-debug-toolbar.git
[submodule "vendor-local/src/python-xrd"]
	path = vendor-local/src/python-xrd
	url = git://github.com/jcarbaugh/python-xrd.git
[submodule "vendor-local/src/django-wellknown"]
	path = vendor-local/src/django-wellknown
	url = git://github.com/paulosman/django-wellknown.git
[submodule "vendor-local/src/django-webfinger"]
	path = vendor-local/src/django-webfinger
	url = git://github.com/paulosman/django-webfinger.git
