{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
    <img class="logo" src="{{ MEDIA_URL }}img/user-961.svg"
        width="150" height="150"
        style="float: left; margin: 0 2em 0 0; opacity: 0.7">
    <h1>Hello! Whuru?</h1>
    <p>When the web asks, "Who are you?", Whuru helps you answer.</p>
    <p><em><small>Okay, so this service doesn't really exist yet, but 
            <a href="http://lmorchard.com">I'd</a>
            like it to. Consider this a 
            <a href="http://en.wikipedia.org/wiki/Concept_car">concept car</a>.
    </small></em></p>
    <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<div class="row-fluid">
    <div class="span4">
        <h2>About You</h2>
        <p>
            <small class="label label-warning">Coming soon</small>
            Whuru lets you build a custom page to help humans discover
            things about you. 
        </p>
    </div>
    <div class="span4">
        <h2>Webfinger</h2>
        <p>
            <small class="label label-warning">Coming soon</small>
            Whuru uses the <a href="http://webfinger.org/">WebFinger</a> protocol
            to help machines discover things about you.
        </p>
    </div>
    <div class="span4">
        <h2>Persona</h2>
        <p>
            <small class="label label-info">Works in dev</small>
            Whuru lets you log into sites and apps using 
            <a href="http://www.mozilla.org/en-US/persona/">Mozilla Persona</a>.
        </p>
        <p>
	    <small><em>(Right now, this site uses a self-signed SSL cert,
            because I'm cheap. Try logging in at 
            <a href="http://dev.123done.org/">dev.123done.org</a>
            or <a href="https://login.dev.anosrep.org/">login.dev.anosrep.org</a>.)
            </em></small>
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <h2>Email Forwarding</h2>
        <p>
            <small class="label label-important">Maybe someday</small>
            Whuru IDs look like email addresses. Forward messages to your
            choice of inbox.
        </p>
    </div>
    <div class="span4">
        <h2>Custom Domains</h2>
        <p>
            <small class="label label-important">Maybe someday</small>
            If you own a domain name, you can control your identity
            and delegate services to Whuru.
        </p>
    </div>
    <div class="span4">
        <h2>Open Source</h2>
        <p>
            <small class="label label-success">Available now</small>
            Whuru is <a href="https://github.com/lmorchard/whuru">open source</a>.
            <a href="https://github.com/lmorchard/whuru">Fork it</a>, contribute code,
            install it on your own servers.
        </p>
    </div>
</div>

{% endblock %}
