<!DOCTYPE html>
<html>
    <head>
        <script src="{{ MEDIA_URL }}js/jquery-1.8.2.js"></script>
        <script src="{{ settings.PERSONA_BASE_URL }}include.js"></script>
        <script src="{{ settings.PERSONA_BASE_URL }}provisioning_api.js"></script>
        <script>
            // TODO: Figure out how to wrap most of this into an include
            navigator.id.beginProvisioning(function(email, duration) {
                {% if not request.user.is_authenticated() %}
                    navigator.id.raiseProvisioningFailure("user is not authenticated as target user");
                {% else %}
                    var expected_id = "{{ expected_id }}";
                    if (email != expected_id) {
                        return navigator.id.raiseProvisioningFailure('user is not authenticated as target user');
                    }
                    navigator.id.genKeyPair(function(pubkey) {
                        if (typeof(pubkey) == "string") {
                            pubkey = JSON.parse(pubkey);
                        }
                        $.ajax({
                            url: '{{ url('whuru.browserid.cert_key') }}',
                            data: JSON.stringify({
                                pubkey: pubkey,
                                duration: duration
                            }),
                            type: 'POST',
                            headers: { "Content-Type": 'application/json' },
                            dataType: 'json',
                            success: function(r) {
                                if (!r || !r.success) {
                                    navigator.id.raiseProvisioningFailure("key signing error");
                                } else {
                                    navigator.id.registerCertificate(r.certificate);
                                }
                            },
                            error: function(r) {
                                navigator.id.raiseProvisioningFailure("couldn't certify key");
                            }
                        });
                    });
                {% endif %}
            });
        </script>
    </head>
</html>
